body {
  background-color: rgb(197, 204, 212);
}

button {
  color: black;
  background: gray;
  border: 2px solid black;
  border-radius: 7px;
}

#mainDiv {
  border: 2px solid black;
  margin: 40px;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#mainDiv2 {
  border: 2px solid black;
  margin: 40px;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#alternativesNums {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px;
}

#alternativa1 {
  border: 1px solid black;
  padding: 15px;
  margin: 30px;
  background-color: gray;
}

#alternativa2 {
  border: 1px solid black;
  padding: 15px;
  margin: 30px;
  background-color: gray;
}

#alternativa3 {
  border: 1px solid black;
  padding: 15px;
  margin: 30px;
  background-color: gray;
}

#topNumber h1 {
  color: black;
  text-align: center;
}

#contadorVidas {
  display: flex;
  flex-direction: row;
}

#coração1 {
  margin-left: 30px;
}

.coraçoesEmoji {
  display: inline;
}
